/* workhist.css */

body {
    background-color: #1f1f1f;
    color: #808080;
    font-family: DejaVu Sans Mono, monospace;
    padding-left: 20px;
}

p {
    padding-right: 30px;
    text-align: right;
}

p .home {
    font-size: 30px;
    color: inherit;
    transition: .5s;
    text-decoration: none;
}

p a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

h1 {
    font-size: 45px;
    margin-top: -50px;
}

h2 {
    padding-top: 10px;
    font-size: 40px;
}

h3 {
    font-size: 30px;
    margin-top: -25px;
}

.description {
    font-size: 23px;
    margin-top: -25px;
    padding-left: 30px;
}

.description li {
    padding-top: 10px;
}